# Homework 2 Data Management

In this homework assignment, we will use a dataset about studentsâ€™ adaptability to online education in school. First, load the data. The dataset has been uploaded to the homework page of Canvas.

In [1]:
import pandas as pd

data = pd.read_csv('online_adapt.csv')
data.head(5)

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

In [2]:
data.columns

Index(['Gender', 'Age', 'Education Level', 'Institution Type', 'IT Student',
       'Location', 'Load-shedding', 'Financial Condition', 'Internet Type',
       'Network Type', 'Class Duration', 'Self Lms', 'Device',
       'Adaptivity Level'],
      dtype='object')

In [3]:
data.shape

(1205, 14)

There is no missing values in the dataset.

In [34]:
data.isna().sum()

Gender                 0
Age                    0
Education Level        0
Institution Type       0
IT Student             0
Location               0
Load-shedding          0
Financial Condition    0
Internet Type          0
Network Type           0
Class Duration         0
Self Lms               0
Device                 0
Adaptivity Level       0
dtype: int64

### Q1. (20 points) Understanding the data
#### 1.1 (5 points) Display the frequency table for the response variable, `Adaptivity Level`.

#### 1.2 (5 points) Display the frequency table for `Education Level`.

#### 1.3 (10 points) Write a function to show the unique values of each variable in the dataset.  Then apply this function on the dataset.
Note that all variables are categorical. You may imitate the function I defined in the in-class exercise of Section 2.4.

### Q2. (30 points) Encode Categorical Variables
#### 2.1 (5 points) Which feature variables are ordinal variables?

#### 2.2 (5 points) Encode `Age` to integers, 1, 2, 3, 4, 5, 6.

#### 2.3 (5 points) Encode `Network Type` to integers, 2, 3, 4.

#### 2.4 (5 points) Encode `Class Duration` to integers, 0, 1, 2.

#### 2.5 (5 points) Replace `Age`, `Network Type`, `Class Duration` by their corresponding numeric versions.

#### 2.6 (5 points) One-hot encode the rest of the variables except for the response variable, `Adaptivity Level`.
* Note that `pd.get_dummies` will only work on categorical varaibles and ignore numeric variables.
* Name the data frame `data1`. Note that `data1` should have all the encoded features (without the response variable).

### Q3. (40 points) Scaling Numeric Variables

#### 3.1 (5 points) Use `MinMaxScaler` to rescale all variables.
Note that you need to apply this scaler to all features in `data1`. The scaled dataset should be called `data2`.

#### 3.2 (5 points) Write a `for` loop to verify that the min is 0 and the max is 1 for each column.

#### 3.3 (5 points) Standardizing all features in `data1`. Name the new data frame `data3`.

#### 3.4 (5 points) Write a `while` loop to verify the mean is 0 and the standard deviation is 1 for each column.

#### 3.5 (5 points) Use a robust scaler to rescale all the features in `data1`. Name the new data frame `data4`.

#### 3.6 (5 points) Use the `apply` function to verify that the median is 0 for each column after robust scaling.
* Note that `data4` is a `ndarray` instead of a data frame. To use the `apply` function, you need to first tranform `data4` to a DataFrame.
* Before using the `apply` function, you need to define your own funcion to calculate the median. You can call the `median()` function in your function.

#### 3.7 (5 points) Normalize all features in `data1`. Name the new data frame `data5`.

#### 3.8 (5 points) Calculate and save the norm of each observation. Then, calculate the mean and the variance of those norms in order to verify that the norms are all equal to 1.
Hints:
* You need to convert `data5` to a data frame using `pd.DataFrame`.
* You may use the `apply` function to calculate the norms.
* By default, `apply` loops across columns of a data frame. So, to use it correctly in this data frame, you need to first transpose `data5` using the dot function `.T` and save the transposed data frame as `data6`.

### Q4. (10 points) Imputing missing values
There is no missing value in the dataset. To practice imputing missing values, we will manually change a value to `np.nan`. To make it very obvious, we will do it to the first observation.

In [5]:
import numpy as np
data_miss = data
data_miss['Education Level'].iloc[0] = np.nan

In [6]:
data_miss.iloc[0,2]

nan

#### Use the most frequent value to impute this missing value.
* Verify that it uses the most frequent value, `School`.
* Compare it with the true value. Are they the same?